<input *ngIf="isManager" [(ngModel)]="searchText" id="search" type="text" class="form-control" placeholder="Search for name">

<div class="mb-3">
  <button class="float-right btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Add Account</button>
</div>
<br>
<br>


<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th scope="col">Account ID</th>
    <th scope="col">Name on Account</th>
    <th scope="col">Account Type</th>
    <th scope="col">Amount</th>
    <th scope="col">Edit</th>
    <th scope="col">View Transactions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let account of accounts" [hidden]="!account.customer?.name?.toLowerCase()?.includes(searchText.toLowerCase())">
    <td>{{account.accountId}}</td>
    <td>{{account.customer?.name}}</td>
    <td>{{account.accountType}}</td>
    <td>{{account.currAmount | currency}}</td>
    <td><button class="btn btn-dark" type="button" data-bs-toggle="modal" data-bs-target="#editModal" (click)="editAccount(account)">Edit</button></td>
    <td><button class="btn btn-dark" type="button" (click)="viewTransaction(account)">View Transactions</button></td>
  </tr>
</tbody>
</table>



  
  <!-- Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Account Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          {{currAccount?.accountId}}

          <br>

          <form id="EditAccountForm" [formGroup]="EditAccountForm" (submit)="onEditSave()">

            <label for="accountType" class="form-label">Account Type</label>
            <input id="accountType" type="text" formControlName="accountType" class="form-control" [value]="currAccount?.accountType">
            <div *ngIf="EditAccountForm.controls.accountType.invalid && (EditAccountForm.controls.accountType.touched || EditAccountForm.controls.accountType.dirty)">
              <div class="alert alert-danger">
                Please enter an account type
              </div>
            </div>

            <label for="currAmount" class="form-label">Current Amount</label>
            <input id="currAmount" type="number" formControlName="currAmount" class="form-control" [value]="currAccount?.currAmount">
            <div *ngIf="EditAccountForm.controls.currAmount.invalid && (EditAccountForm.controls.currAmount.touched || EditAccountForm.controls.currAmount.dirty)">
              <div class="alert alert-danger">
                Please enter an amount
              </div>
            </div>

            <label for="status" class="form-label">Status</label>
            <input id="status" type="text" formControlName="status" class="form-control" [value]="currAccount?.status">
            <div *ngIf="EditAccountForm.controls.status.invalid && (EditAccountForm.controls.status.touched || EditAccountForm.controls.status.dirty)">
              <div class="alert alert-danger">
                Please enter a status
              </div>
            </div>

            <div *ngIf="editError" class="alert alert-danger text-center mt-3">
              There was an error submitting the form
            </div>

            <div class="modal-footer">
                <button #closeButton type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" [disabled]="!EditAccountForm.valid">Save changes</button>
            </div>
            
          </form>


        </div>
        
      </div>
    </div>
  </div>

  <!-- Create Modal -->
  <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Account</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form id="NewAccountForm" [formGroup]="NewAccountForm" (submit)="onCreateSave()">

            <label for="customerName" class="form-label">Customer Name</label>
            <input id="customerName" type="text" formControlName="customerName" class="form-control">

            <label for="accountType" class="form-label">Account Type</label>
            <input id="accountType" type="text" formControlName="accountType" class="form-control">
            <div *ngIf="NewAccountForm.controls.accountType.invalid && (NewAccountForm.controls.accountType.touched || NewAccountForm.controls.accountType.dirty)">
              <div class="alert alert-danger">
                Please enter an account type
              </div>
            </div>

            <label for="currAmount" class="form-label">Current Amount</label>
            <input id="currAmount" type="number" formControlName="currAmount" class="form-control" min="0">
            <div *ngIf="NewAccountForm.controls.currAmount.invalid && (NewAccountForm.controls.currAmount.touched || NewAccountForm.controls.currAmount.dirty)">
              <div class="alert alert-danger">
                Please enter an amount
              </div>
            </div>

            <label for="status" class="form-label">Status</label>
            <input id="status" type="text" formControlName="status" class="form-control">
            <div *ngIf="NewAccountForm.controls.status.invalid && (NewAccountForm.controls.status.touched || NewAccountForm.controls.status.dirty)">
              <div class="alert alert-danger">
                Please enter a status
              </div>
            </div>

            <div *ngIf="createError" class="alert alert-danger text-center mt-3">
              There was an error submitting the form
            </div>

            <div class="modal-footer">
                <button #closeButton2 type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" [disabled]="!NewAccountForm.valid">Create Account</button>
            </div>
            
          </form>


        </div>
        
      </div>
    </div>
  </div>
